.panels-container {
  color: var(--panels-text-color);
  font-weight: 300;
  padding: 0 !important;

  * {
    box-sizing: border-box;
  }
}

.panels-wrapper {
  margin: 0 !important;
  max-width: 100% !important;
}

.panels {
  background-color: var(--slider-text-color);
  display: flex;
  flex-direction: column;
  scroll-margin-top: var(--nav-height);
  overflow-x: clip;
  transition: all 550ms ease-in-out;
  width: 100%;

  &:has(.panel.open) {
    .panel:not(.open) {
      @media (width <= 900px) {
        display: none;
      }
    }

    @media (width > 900px) {
      height: calc(100vh - var(--nav-height));
    }
  }

  &:has(.panel:not(.open) ~ .panel:not(.open)) {
    @media (width > 900px) {
      transition-delay: 550ms;
    }
  }

  @media (width > 900px) {
    height: 300px;
    position: relative;
  }
}

.panel {
  background-size: cover;
  
  @media (width > 900px) {
    height: 100%;
    position: absolute;
    transition: all 550ms ease-in-out;
    width: 50%;
    z-index: 2;

    &.open {
      left: 0;
    }
    
    .panels:has(.panel.open) & {
      transition-delay: 550ms;
      width: 33.33%;
    }
  }
}

.panel--left {
  background-image: url("https://www.oracle.com/asset/web/i/rh02-panel2.jpg");

  @media (width > 900px) {
    left: 0;

    .panels:has(.panel.open) &:not(.open) {
      left: -33.33%;
      visibility: hidden;
    }
  }
}

.panel--right {
  background-image: url("https://www.oracle.com/asset/web/i/rh02-panel1.jpg");

  @media (width > 900px) {
    left: 50%;

    .panels:has(.panel.open) &:not(.open) {
      left: 100%;
      visibility: hidden;
    }
  }
}

.panel__init-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  padding: 32px;

  .open & {
    display: none;
  }

  h2,
  p {
    margin: 0;
  }

  h2 {
    display: flex;
    flex-direction: column;
    font-size: var(--heading-font-size-m);
    font-weight: 800;

    span {
      font-size: var(--heading-font-size-s);
      font-weight: 300;
    }
  }

  p {
    font-size: var(--body-font-size-xxs);
  }

  @media (width > 900px) {
    height: 100%;
    justify-content: center;

    .panel--left & {
      align-items: flex-end;
      margin-left: auto;
      text-align: right;    
    }
  }
}

.panel-button {
  background-color: var(--light-color);
  border-radius: 4px;
  color: var(--slider-text-color);
  font-size: var(--body-font-size-xxs);
  font-weight: 500;
  padding: 10px 12px;

  &:hover,
  &:focus {
    background-color: var(--light-color);
    color: var(--slider-text-color);
    text-decoration: none;
  }

  &:any-link {
    color: var(--slider-text-color);
  }
}

.fold {
  overflow: hidden;
  
  @media (width <= 900px) {
    display: none;
    
    &.open {
      display: block;
    }
  }
  
  @media (width > 900px) {
    display: flex;
    height: 100%;
    left: 0;
    perspective: 60vw;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 550ms ease-in-out;
    width: 33.33%;

    &.open {
      left: 33.33%;
      transition-delay: 550ms;
      width: 66.66%;
    }
  }
}

.fold__content,
.fold__clients {
  align-items: flex-start;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  
  @media (width > 900px) {
    flex-shrink: 0;
    padding: 72px 32px;
    scale: 0 0.4;
    transition: all 550ms ease-in-out;
    width: 50%;

    .open & {
      transition-delay: 550ms;
    }
  }

  @media (width > 1280px) {
    padding: 72px 64px;
  }

  img {
    max-width: 100px;

    @media (width > 900px) {
      max-width: 150px;
      margin-bottom: 20px;
    }
  }

  h3,
  blockquote {
    margin: 0;
  }

  blockquote {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  h3 {
    font-size: var(--heading-font-size-m);
    font-weight: 400;
  }

  p {
    margin: 0;
  }

  p,
  cite,
  li {
    font-size: var(--body-font-size-xxs);
  }

  cite {
    font-style: normal;
    font-weight: 600;

    span {
      display: block;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: var(--panels-list-link-color);
      font-weight: 600;
    }
  }
}

.fold__content {
  @media (width > 900px) {
    rotate: y 90deg;
    transform-origin: right center;

    .open & {
      rotate: y 0deg;
      scale: 1 1;
    }
  }
}

.fold__clients {
  position: relative;
  z-index: 0;

  @media (width > 900px) {
    rotate: y -90deg;
    transform-origin: left center;

    .open & {
      rotate: y 0deg;
      scale: 1 1;
    }
  }

  @media (width <= 900px) {
    padding: 60px 32px;
  }

  &::before {
    background-color: rgb(0 0 0 / 70%);
    content: "";
    inset: 0;
    position: absolute;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

.panel__top {
  display: none;
  justify-content: space-between;
  padding: 16px 32px;

  .open & {
    display: flex;
  }
}

.panel-opener,
.panel-back {
  appearance: none;
  background-color: transparent;
  border: 0;
  display: flex;
  margin: 0;
  padding: 0;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.panel-opener {
  @media (width > 900px) {
    display: none;
  }
}

.panel__menu {
  display: none;

  .open & {
    @media (width > 900px) {
      display: block;
    }
  }

  .open-menu & {
    @media (width <= 900px) {
      display: block;
    }
  }

  h3 {
    display: flex;
    flex-direction: column;
    font-size: var(--heading-font-size-m);
    font-weight: 800;
    margin: 0;
    padding: 16px 32px 0;

    span {
      font-size: var(--heading-font-size-s);
      font-weight: 300;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 32px 0;

    button {
      appearance: none;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      cursor: pointer;
      font-weight: 500;
      margin: 0;
      padding: 16px 32px;
      text-align: left;
      width: 100%;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      &[data-selected] {
        background-color: rgb(0 0 0 / 40%);
      }
    }
  }
}
