/* header and nav layout */
header .nav-wrapper {
  background: var(--navbar-color);
  color: #212836;
  height: fit-content;
  width: 100%;
  position: fixed;
  z-index: 9;
  border-bottom: 1px solid rgb(160, 187, 204);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
      'brand tools hamburger' var(--nav-height)
      'sections sections sections' 1fr / 1fr auto auto;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
  position: relative;
  z-index: 10;
}

header nav[aria-expanded="true"] {
  overflow-y: auto;
  min-height: 100vh;
  background-color: var(--navbar-color);
}

@media (width >= 1024px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    max-width: 1360px;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
    color: white;
    background: var(--navbar-color);
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding:0;
    gap: 15px;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  display: flex;
  align-items: center;
  background: var(--navbar-color);
}

header nav .nav-hamburger button {
  height: var(--nav-height);
  border: 0;
  border-radius: 0;
  background-color: var(--navbar-color);
  color: white;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  padding: 0;
  width: 24px;
  margin: 0;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
  width: 20px;
  height: 2px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -8px;
  width: 14px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 8px;
  width: 14px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 23px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 3px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 1024px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

header nav .nav-brand img {
  height: 32px;
  width: 28px;
}

@media (width >= 768px) {
  header nav .nav-brand img {
    width: fit-content;
    height: 30px;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  position: relative;
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  color: #212836;
  font-weight: 500;
}

header nav .nav-sections ul > li > ul > li > ul{
  display: none;
}

header nav .nav-sections .default-content-wrapper > ul > li > ul {
  display: none;
  position: relative;
}

header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
  display: block;
}


header nav .nav-tools {
  grid-area: tools;
  display: flex;
  align-items: center;
  background-color: var(--navbar-color);
  margin-right: 24px;

  .default-content-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;

    p {
      cursor: pointer;
    }

    p:nth-child(3) {
      color: #fbf9f8;
      border: none;

      em {
        display: none;
      }
    }

    p:nth-child(4) {
      color: #fbf9f8;
      border: none;

      em {
        display: none;
      }
    }
  }
}

.section-heading,
header nav .nav-sections .default-content-wrapper > ul > li > a {
  display: block;
  padding: 20px 23px 20px 0;
  background-color: var(--navbar-color);
  color: white;
  font-weight: 400;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.nav-drop > ul > li {
  background-color: var(--navbar-color);
}

.nav-drop > ul > li a {
  display: block;
  padding: 20px 23px;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
  text-transform: uppercase;
  font-size: 0.8em;
}

.nav-logo-link {
  display: flex;
  height: var(--nav-height);
  background: var(--navbar-color);
  align-items: center;
  justify-content: flex-start;
}

header nav .nav-sections ul li .icon-world-language {
  position: absolute;
  top: 22px;
  left: 110px;
}

header nav .nav-sections > div > ul > li {
  position: relative;
}

@media (width >= 1024px) {
  header nav .nav-brand img {
    width: 121px;
    height: 32px;
    min-width: 132px;
    background-color: var(--navbar-color);
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 1em;
    margin: 0;
    font-size: var(--body-font-size-xs);
    justify-content: center;
    align-items: center;
    height: var(--nav-height);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    font-weight: 500;
    padding: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    position: absolute;
    left: 2em;
    right: 2em;
    top: 54px;
    padding: 2em 2em 0;
    background-color: var(--navbar-color);
    white-space: initial;
    margin: 0;
    columns: 3;
    border-bottom: 5px solid #c84634;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul > li {
    margin-bottom: 2em;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul > li > a {
    font-weight: bold;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul > li > ul > li {
    margin-left: 1em;
    padding: .25em 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul > li > ul > li > a {
    text-transform: none;
    color: currentColor;
  }

  header nav .nav-sections ul > li > ul > li > ul{
    display: block;
  }

  header .nav-brand {
    padding: 0 30px;
  }

  header nav .nav-tools {
    margin: 0 30px;
  }

  header nav[aria-expanded="true"] {
    flex-wrap: wrap;
    gap: 0;
  }

  header nav .nav-tools .default-content-wrapper {

    p:nth-child(3) {
      color: #fbf9f8;
      min-height: 44px;
      min-width: 44px;
      border: none;
      padding: 0 20px 0 0;
      background-color: #161513;
      border-radius: 4px;
      font-weight: bold;
      transition: background-color .2s ease;
      display: inline-flex;
      height: fit-content;
      width: 100%;
      max-width: 139px;
      align-items: center;

      strong {
        padding: 0 10.66px;
      }

      em {
        display: block;
        font-family: var(--body-font-family);
        font-style: normal;
        font-size: 13.33px;
      }
    }

    p:nth-child(4) {
      color: #fbf9f8;
      min-height: 44px;
      min-width: 44px;
      border: none;
      padding: 0 20px 0 0;
      background-color: #161513;
      border-radius: 4px;
      font-weight: bold;
      transition: background-color .2s ease;
      display: inline-flex;
      height: fit-content;
      width: 100%;
      max-width: 139px;
      align-items: center;

      strong {
        padding: 0 10.66px;
      }

      em {
        display: block;
        font-family: var(--body-font-family);
        font-style: normal;
        font-size: 13.33px;
      }
    }
  }

  .section-heading,
  header nav .nav-sections .default-content-wrapper > ul > li > a {
    padding: unset;
    background-color: unset;
    color: unset;
    font-weight: unset;
    border-bottom: none;
    display: inline;
  }

  .nav-drop > ul > li a {
    display: unset;
    padding: unset;
    font-weight: unset;
    border-bottom: none;
  }

  .nav-logo-link {
    height: auto;
  }

  .nav-drop > ul > li {
    background-color: none;
  }

 header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul > li {
    margin: 0;
    height: 45px;
    width: 100%;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    overflow: auto;
    max-height: calc(100vh - 240px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    left: 0;
    right: 0;
    cursor: auto;
    padding: 32px;
    height: 400px;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul > li > a {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: .875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.25rem;
    color: white;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
  }

  header nav .default-content-wrapper ul li .section-heading {
    margin: 0;
    word-break: normal;
    font-family: var(--body-font-family);
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    line-height: 1.3;
    transform: translate(0, 0);
    font-size: 16px;
    text-decoration: none;
    transition: color 100ms ease-in;
  }

  header nav .default-content-wrapper ul li .section-heading:focus,
  header nav .default-content-wrapper ul li .section-heading:active {
    border-bottom: 1px solid white;
  }

  .section-heading,
  header nav .nav-sections .default-content-wrapper > ul > li > a {
    margin: 0;
    text-decoration: none;
    word-break: normal;
    font-family: var(--body-font-family);
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
  }

  header nav {
    height: 100%;
  }

  header nav .nav-sections {
    height: 100%;
    display: flex;
    align-items: center;
  }

  header nav .nav-sections .nav-drop, header nav .nav-sections li {
    height: 81.18px;
    display: flex;
    align-items: center;
  }

  header .login-button__auth-login {
    cursor: pointer;
  }

  header nav .nav-sections ul li .icon-world-language {
    position: relative;
    top: unset;
    left: unset;
  }

  header nav .nav-sections > div > ul > li {
    position: static;
  }
}

@media (width >= 1400px) {

  header nav[aria-expanded="true"] {
    width: 90%;
  }

  header nav .nav-tools .default-content-wrapper {

     p:nth-child(3) {
        max-width: unset;
        em {
          width: 105px;
        }
     }
  }
  header .nav-brand {
    padding-left: 0;
  }

  header nav[aria-expanded="true"] {
    padding:0;
  }

  header nav .nav-tools {
    padding-right: 0;
  }
}

@media (width >= 1736px) {
  header nav[aria-expanded="true"] {
    width: calc(100% - 14% * 2);
  }
}